<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tws.repository.ParkingBoyMapper">
    <select id="getParkingBoys" resultType="tws.entity.ParkingBoy">
        select * from employee
    </select>

    <select id="getEmployeeByID" resultType="tws.entity.Employee">
        select * from employee where id=#{employeeID}
    </select>

    <insert id="insert">
        insert into employee
        values
        (#{employee.id},#{employee.name},#{employee.age})
    </insert>

    <update id="updateEmployeeByID">
        update employee set name=#{employee.name},age=#{employee.age}
        where id=#{id}
    </update>

    <delete id="deleteEmployeeByID">
        delete from employee where id = #{id}
    </delete>
</mapper>
